# Increase log verbosity
log_level = "DEBUG"

# Setup data dir
data_dir = "/var/lib/nomad/client"


client {
    enabled = true
    server_join = {
        retry_join = [ "{{ self_ip }}" ]
        retry_interval = "15s"
    }
{% if env == 'vagrant' %}
    network_interface = "eth1"
{% endif %}
    options   = {
        "docker.auth.config" = "/etc/docker/config.json"
    }
}

ports {
    http = 5656
}

vault {
  enabled = true
  address = "https://{{ self_ip }}:8200"
}
