# Increase log verbosity
log_level = "DEBUG"

# Setup data dir
data_dir = "/var/lib/nomad/server"

advertise {
    http = "{{ self_ip }}"
    rpc = "{{ self_ip }}"
    serf = "{{ self_ip }}"
}

addresses {
    http = "{{ self_ip }}"
    rpc = "{{ self_ip }}"
    serf = "{{ self_ip }}"
}

# Enable the server
server {
    enabled = true

    bootstrap_expect = 3

    server_join {
        retry_join = [ {{ master_ips | map('quote_double') | join(',') }} ]
        retry_interval = "15s"
    }

}

vault {
  enabled = true
  address = "http://{{ self_ip }}:8200"
}

telemetry {
  publish_allocation_metrics = true
  prometheus_metrics = true
}
