[Unit]
Description=consul server
Requires=network-online.target
After=docker.service

[Service]
Restart=on-failure
ExecStart=/usr/local/bin/consul agent -config-file=/etc/consul/consul-server.json -ui
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
