[Unit]
Description=nomad server
Requires=network-online.target
After=consul-server.service

[Service]
Restart=on-failure
ExecStart=/usr/local/bin/nomad agent -config=/etc/nomad/server.hcl -bind={{ self_ip }}

ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
