{
    "server": true,
    "bootstrap_expect": 3,
    "retry_join": [
        {{ master_ips | map('quote_double') | join(',') }}
    ],
    "data_dir": "/var/lib/consul",
    "bind_addr": "{{ self_ip }}",
    "client_addr": "{{ self_ip }} 127.0.0.1"
}
