ui = true
listener "tcp" {
  address = "{{ self_ip }}:8200"
  tls_disable = 1
}

storage "consul" {
  address = "127.0.0.1:8500"
  path    = "vault"
}

telemetry {
  disable_hostname = true
}

{%if env == 'aws' %}
seal "awskms" {
  kms_key_id = "{{ kms_key_id }}"
}
{% endif %}
